<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <a class="navbar-brand">Fair Bank</a>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/register">Abra a sua conta <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0" [formGroup]="loginForm" (ngSubmit)="login()">
    <span class="navbar-text mr-2">Acesse sua conta</span>
    <input id="conta" type="number" class="form-control mr-sm-2" formControlName="conta" placeholder="Conta"
      aria-label="Search">
    <input type="password" class="form-control mr-sm-2" formControlName="senha" placeholder="Senha" aria-label="Search">
    <button type="submit" class="btn btn-outline-success my-2 my-sm-0" [disabled]="!loginForm.valid">Entrar</button>
  </form>
</nav>
<div class="container-fluid">

</div>