.container-fluid {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto; 
    z-index: -1000; 
    padding: 8%;
    background-image: url('http://localhost:3000/images/abrir%20conta.jpg');
    background-repeat: no-repeat;
    background-size: cover;   
}